.FW-product {
    margin-top: 20px;
}

.M-pic {
    float: left;
    width: 420px;
    height: 420px;
    margin-bottom: 7px;
    background-color: #f7f7f7;
}

.zoomPup {
    background-color: #fff;
    opacity: .6;
    width: 160px;
    height: 160px;
    position: absolute;
    border: 1px solid #ccc;
    z-index: 3;
    left: 0;
    top: 0;
    cursor: crosshair;
}

/* 大图片 */

.pic-sliderwrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide-mid-pic {
    z-index: 1;
}

/* 小图片 */

.pic-slider-items {
    width: 420px;
    height: 420px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #f2f2f2;
    background-color: #f7f7f7;
}

.pic-slider-items img {
    width: 100%;
    height: 100%;
}
.pi-promise-box {
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    width: 420px;
}
.pi-promise-list {
    width: 1000px;
    padding: 9px 0;
    zoom: 1;
}

/* 产品信息 */

.product-info {
    float: right;
    width: 550px;
    position: relative;
    z-index: 100;
    min-height: 634px;
}

.gobal-flag-box {
    margin-bottom: 10px;
}

.gobal-flag-img {
    float: left;
    width: 60px;
    height: 37px;
    margin-right: 16px;
}

.gobal-flag-img img {
    width: 100%;
    height: 100%;
}

.global-name {
    color: #333;
    margin-bottom: 2px;
}

.global-brand, .global-name {
    margin-right: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.global-brand {
    color: #007cff;
    height: 18px;
}

.pib-title {
    color: #4d4d4d;
    margin-bottom: 10px;
    clear: both;
}

.pib-ferme-tag {
    float: left;
    border-radius: 2px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #6c5eab;
    border: 1px solid #6c5eab;
    padding: 0 10px;
    height: 18px;
    line-height: 18px;
    margin: 0 10px 0 0;
}

.pib-title-detail {
    font-size: 16px;
    color: #333;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
}

.price_bgimg {
    width: 550px;
    height: 94px;
    position: absolute;
}

.spcecialPrice-box {
    color: #fff;
    height: 94px;
    line-height: 94px;
}

.spcecialPrice-box .sp-info {
    color: #fff;
    float: left;
    height: 60px;
    padding-left: 20px;
    position: relative;
}

.sp-info .pbox-yen {
    margin-top: 13px;
    font-size: 30px;
}

.spcecialPrice-box .sp-price {
    font-size: 38px;
    max-width: 200px;
    white-space: nowrap;
    padding-right: 10px;
    text-overflow: ellipsis;
    display: inline-block;
}

.spcecialPrice-box .sp-postfix {
    font-size: 20px;
    margin-left: 3px;
    float: left;
    margin-top: 13px;
}

.pbox-market {
    padding: 10px 10px 0 10px;
    font-size: 16px;
}

.sp-time-progress {
    position: relative;
    float: right;
    top: -10px;
    padding-right: 20px;
}

.sp-time-progress .typeIcon {
    top: -10px;
    width: 100px;
    height: 24px;
}

.sp-time-progress .progress-bar-concent {
    position: absolute;
    top: 38px;
}

/* 配送地址 */

.pi-attr-box {
    padding-top: 20px;
    position: relative;
    z-index: 10;
}

.cartAdd-form {
    position: relative;
    z-index: 5;
}

.pi-attr-box dt {
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
    overflow: hidden;
}

.pi-attr-box .g-delivery-address dd {
    float: left;
}

.c-delivery-address-box .delivery-address-box {
    position: relative;
    z-index: 10;
}

.c-delivery-address-box .delivery-address-info {
    width: 250px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    position: relative;
}

.c-delivery-address-box .delivery-address-tips {
    height: 30px;
    line-height: 30px;
    padding: 0 35px 0 10px;
    overflow: hidden;
    color: #222;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delivery-address-tips span {
    color: #222;
    font-size: 12px;
}

.c-delivery-address-box .delivery-address-down {
    position: absolute;
    right: 10px;
    font-size: 10px;
    top: 10px;
    color: #b3b3b3;
}

.pbox-details {
    float: right;
    color: #333;
    padding-top: 7px;
    font-size: 12px;
}

.freight_tips {
    float: left;
    font-size: 12px;
    color: #222;
    line-height: 42px;
}

.g-delivery-address .freight-name {
    line-height: 42px;
}

.loan-tips-mars {
    color: #000;
    line-height: 42px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    font-size: 14px;
    padding-left: 5px;
}

.size-list-item {
    border: 2px solid #f43499;
    height: 26px;
    padding: 10px 20px 0 20px;
    max-width: 356px;
    min-width: 28px;
    float: left;
    position: relative;
    font-size: 12px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    background-color: #fff;
}

.i-select {
    background-image: url(https://shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
    background-position: -144px -170px;
    width: 17px;
    position: absolute;
    z-index: 11;
    height: 16px;
    bottom: -1px;
    right: -1px;
}

.ui-quantity {
    position: relative;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    width: 73px;
    background-color: #fff;
    border: 1px solid #e3e2e2;
    color: #333;
    vertical-align: top;
    text-align: center;
    transition: .3s ease-out;
}

.ui-quantity .z-disable {
    cursor: not-allowed;
    color: #ccc;
}

.num-input {
    padding: 0 5px;
}

.num-reduce, .num-add {
    width: 23px;
    font-size: 18px;
    display: inline-block;
    background: #f1f1f1;
}

.i-button {
    margin-bottom: 12px;
    margin-left: 40px;
    margin-top: 20px;
    height: 46px;
    margin-right: 20px;
    position: relative;
}

.i-button .ui-btn-large {
    width: 252px;
    background: #f03867;
    width: 252px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.i-button span {
    font-size: 20px;
    color: #fff;
    top: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
}

.i-button .finalPrice_price {
    left: 50px;
}

.i-button .finalPrice_subPriceTips {
    left: 115px;
    font-size: 14px;
}

.i-button .button_arrow {
    left: 185px;
    top: 20px;
    background: url(https://shop.vipstatic.com/img/detail/button_icon_arrow-hash-2e704610.png) no-repeat;
    background-size: 7px 12px;
    width: 7px;
    height: 12px;
}
.M-productInfo {
    float: right;
    width: 550px;
    position: relative;
    z-index: 100;
    min-height: 634px;
}
.other-form-box {
    border-top: 1px dashed #e6e6e6;
    padding-top: 10px;
}
.g-qr-code-title {
    cursor: pointer;
    padding: 0 0 15px 35px;
}
.g-qr-code-font {
    font-size: 12px;
    color: #f10180;
}
.c-supplier-service-title {
    color: #999;
}
.c-supplier-service-icon-online {
    display: inline-block;
    margin-right: 6px;
    margin: 7px 0;
    width: 18px;
    height: 16px;
    vertical-align: top;
    background: url(https://shop.vipstatic.com/img/detail/customer-hash-20e29e90.gif?91015c29) no-repeat 0 0;
}
.c-supplier-service-link{
    font-size: 12px;
    display: inline-block;
    margin: 7px 0;
}
.c-supplier-service-time{
    font-size: 12px;
    margin: 7px 0;
}
.other-box {
    float: left;
    text-align: left;
    font-size: 12px;
    color: #666;
    width: 505px;
    margin-bottom: 10px;
}
.services-wrap{
    margin: 7px 0;
}
.services-wrap .iconType {
    background-image: url(https://shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
    width: 16px;
    height: 16px;
    margin-right: 10px;
    float: left;
}
.services-wrap .services {
    float: left;
    padding-right: 20px;
}
.services-wrap .iconSuccess{
    background-position: -627px -190px;
}
.services-wrap .iconCaution{
    background-position: -587px -190px;
}
.dc-img{
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 30px;
    float: left;
    box-sizing: border-box;
}

.dc-img img{
    width: 100%;
    height: 1270px;
}